*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#f5f7fa;
    color:#333;
    line-height:1.6;
}
.navbar-brand{
    font-size:27px;
    font-weight:bold;
    color:#2c3e50;
    gap:0.5rem;
}
@media (min-width:768px){
    .navbar-brand{
        font-size:32px
    }
}
.navbar-brand i{
    color:#3498db;
    padding:5px 10px;
}

.nav-link{
    color:#555;
    font-weight:500;
    padding:5px 10px;
    margin:5px 7px;
}
.nav-link:hover{
    color:#3498db;
}
@media (min-width:768px){
    .nav-link{
        font-weight:700;
    }
}
.login-style{
    display:flex;
}
.login-btn{
    background-color:#3498db;
    color:#ffffff !important;
    padding: 6px 10px;
    border-radius: 6px;
}
.login-btn:hover {
    background-color:#2980b9;
   
}
.search-section{
    background-image:linear-gradient(#667eea,#764ba2);
    color:white;
    padding:40px 20px;
    border-radius:8px;
}
.search-content{
    text-align:center;
}
.search-title{
      font-size:28px;
      font-weight:bold;
      margin-bottom:8px;
}
.search-subtile{
      font-size:16px;
      margin-bottom:20px;
}
@media (min-width:768px){
    .search-title{
        font-size:40px;
        margin-bottom:14px;
    }
    .search-subtile{
        font-size:21px;
        margin-bottom:25px;
    }
}
.search-wrapper{
    max-width:800px;
    margin:auto;
}
.search-container{
    background-color:white;
    padding:10px 10px;
    border-radius:10px;
    display:flex;
    align-items:center;
    
}
.search-container i{
    color:#3498db;
    font-size:15px;
    padding-right:5px;
}
.search-input{
    flex:1;
    padding:5px;
    border:none;
    outline:none;
    padding-right:5px;
}
.popular-search{
      display:flex;
      justify-content:center;
      align-items:center;
      gap:20px;
      margin-top:31px;
}
.tags-label{
     font-weight:400;
}
.tags{
    background-color:#8db7f765;
    text-align:center;
    font-size:13px;
    padding:9px 9px;
    border-radius:10px;
    cursor:pointer;
}
@media (min-width:768px){
    .tags-label{
        font-weight:700;
    }
    .tags{
        font-size:15px;
    }
}
.section-card{
    text-align:center;
    margin-top:45px;
    margin-bottom:40px;
}
.sec-title{
     font-size:24px;
     color:#2c3e50;
}
.sec-subtitle{
    font-size:19px;
    font-weight:400;
    color:#7f8c8d;
}
@media (min-width:768px){
    .sec-title{
        font-size:28px;
        font-weight:600
    }
    .sec-subtitle{
        font-size:21px;
    }
}
.job-card{
    background-color:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.427);
    margin-bottom:35px;
}

.company-info{
     display:flex;
     align-items:center;
     gap:1rem;
     margin-bottom:10px;
}
.company-logo{
  background-image:linear-gradient(#667eea,#764ba2);
  width:50px;
  height:50px;
  border-radius:10px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:700;
  font-size:16px;
}
.job-role{
     font-size:22px;
     font-weight:600;
     color:#2c3e50;
     margin:0;
}
.company-name{
   color:#7f8c8d;
   font-size:15px;
   margin:4px;
}
.job-card-body{
    flex:1;
}
.job-details{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:12px;
}
.detail-item{
   color:#7f8c8d;
   font-size:15px;
   gap:10px;
   display:flex;
   align-items:center;
}
.detail-item i{
    color:#3498db;
}
.salary{
   color:#27ae60;
   font-weight:600;
   font-size:21px;
   margin-bottom:14px;
}
.skill-list{
    display:flex;
    align-items:center;
    gap:0.5rem;
    margin-bottom:16px;
}
.skill-tag{
     background-color:#e8f4f8;
     color:#3498db;
     padding:5px 10px;
     border-radius:15px;
     font-size:14px;
     font-weight:500;   
}
.job-card-footer{
    padding:5px;
    border-top: 1px solid #e5e8e9;
}

.cta-section{
    background-image:linear-gradient(#667eea,#764ba2);
    color:white;
    padding:30px 25px;
    margin-bottom:18px;

}
.cta-title{
    font-size:22px;
    font-weight:700;
     margin-bottom:8px;
}
.cta-text{
     font-size:17px;
     margin-bottom:28px;
}
.cta-button{
    background-color:color;
    color:#3498db;
    border:none;
    font-weight:600;
    font-size:16px;
    padding:10px 12px;
    border-radius:7px;
}
.cta-button:hover{
    color:#0865a3;
}
@media (min-width:768px){
    .cta-title{
        font-size:32px;
        margin-bottom:10px;
    }
    .cta-text{
        font-size:17px;
    }
    
}
.footer{
    background-color:#2c3e50;
    color:white;
}
.footer-brand{
     font-size:20px;
     font-weight:600;
     margin-bottom:10px;
     display:flex;
     align-items:center;
     gap:10px;
}
.footer-brand i{
    color:#3498db;
}
.footer-text{
   color:#bdc3c7;
   font-size:15px;
}
@media (min-width:768px){
    .footer-brand{
        font-size:22px;
    }
    .footer-text{
        font-size:17px;
    }
}
.footer-heading{
    font-size:20px;
     font-weight:600;
     margin-bottom:13px;
} 
.footer-links{
    list-style-type:none;
    padding:0
}
.footer-links li{
    margin-bottom:5px;
}
.footer-links a{
    color:#bdc3c7;
    text-decoration:none;
    font-size:15px;
}
.footer-links a:hover{
    color:#3498db;
}
@media (min-width:768px){
    .footer-heading{
        font-size:22px;
    }
    .footer-links a{
        font-size:17px;
    }
    
}
.social-links{
    display:flex;
    gap:3px;
}
.social-links a{
    display:flex;
    justify-content:center;
    width:30px;
    color:white;
    border-radius:7px; 
    padding:5px 6px;
}
.social-links a:hover{
    background-color:#3498db;
}
.footer-bottom{
     border-top: 1px solid #95a5a6;
     margin-top:15px;
     padding:12px;
     text-align:center;
     font-size:15px;
     color:#bdc3c7;
}
@media (min-width:768px){
    .footer-bottom{
        font-size:18px;
    }
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

.custom-navbar{
     background-color:#4872a9;
     padding:12px 0;
}
.brand-title{
    font-size:28px;
    font-weight:bold;
    color:#ffffff !important;
    letter-spacing:2px;
}
.nav-link{
    color: #e6e1e1;
    font-size:17px;
    margin-left:10px;
}
.nav-link:hover{
    color:#4cd964;
}
.login-style{
    display:flex;
}
.login-btn{
    padding: 6px 10px;
    border: 1px solid #ffd369;
    border-radius: 6px;
}
.login-btn:hover {
    background-color: #ffd369;
    color: #000;
}
.search-box{
    width:300px;
}
@media (max-width:576px){
    .search-box{
        width:100%;
    }
}

.job-card{
    background-color:rgb(251, 249, 249);
    padding:20px;
    border-radius:10px;
    border:1px solid rgba(0, 0, 0, 0.321);
    margin:15px;
    min-height:300px;
    min-width:250px;
}
@media (min-width:768px){
    .job-card{
        min-height:540px;
        min-width:300px;
    }
}
.job-title{
    font-size:20px;
    margin-bottom:6px;
}
.company{
    color:#444;
    font-size:30px;
    margin-bottom:20px;
}
.location{
    font-size:17px;
    margin-bottom:18px;
    color:#666;
}
.experience{
    margin-bottom:17px;
    color:#450303;
}
.package {
    font-weight: 600;
    color: #0d6efd;
    margin-bottom: 10px;
}
.skills{
    display:flex;
    flex-wrap:wrap;
}
.skills span{
    font-size:16px;
    background:#e8f1ff;
    border-radius:6px;
    margin-right:10px;
    padding:8px 12px;
    margin-bottom:8px;
   
}
.apply-button{
    margin-top:30px;
    background-color:#3374f6;
    color:white;
    padding:8px 15px;
    border-radius:10px;
    border:none;
    width:75px;
    height:40px;
    font-size:15px;
    cursor:pointer;
}
.apply-button:hover{
    background:#025316d8;
}
.cta-section{
    background:#deedfe;
    border-radius:10px;
   
}
.cta-title{
    font-size: 30px;
    font-weight: 700;
    color: #003566;
}
.cta-text{
    font-size: 16px;
    color: #3e3e3e;
}
.job-btn:hover{
    background-color:rgb(245, 245, 151);
    color:#000000;
    border:2px solid;
}
.footer{
    border-radius:5px;
}
.footer-logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.footer-tag{
  font-size: 14px;
  color: #a1a7b3;
}
.social-icons i {
  font-size: 22px;
  padding:20px 10px;
  cursor: pointer;
  color: #f7f8fa;
}
.footer-policy {
  font-size: 15px;
  color: #8c919b;
  margin-top: 15px;
}

.footer-copy {
  font-size: 13px;
  color: #6c7079;
}

